$main: #5c0431;

.CartNav {
  > li {
    a {
      font-size: 3rem;
      color: $main;
    }
    a:hover {
      color: $main;
    }
  }
}

.CartItemsDiv {
  .h5 {
    span {
      color: grey;
    }
  }
  > .row {
    > .col-xl-6 {
      margin-top: 0.6rem;
      border: 1px solid rgba(0, 0, 0, 0.123);
      border-radius: 5px;
      padding: 1rem;
      height: fit-content!important;

      > .row {
          .col-2 {
            img{
                width: 98%;
            }
            .btn{
                border: none !important;
                border-radius: 0;
            }
          }
          .col-8 {
          .title {
            font-size: 1rem;
            font-weight: 500;
          }
          .price {
            font-size: 1.1rem;
            color: grey;
            font-weight: 600;
          }
          .text {
            font-size: 1.15rem;
            color: rgb(89, 89, 89);
          }
          .qty {
            font-size: 1.15rem;
            color: rgb(101, 101, 101);
          }
          > .btn-outline-danger {
            border: none !important;
            border-radius: 0;
          }
        }
      }
    }
    > .col-xl-5 {
      margin-top: 2rem;
      border: 1px solid rgba(0, 0, 0, 0.123);
      border-radius: 5px;
      padding: 1rem;
    }
  }
}



@media (max-width:394px) {
  
.CartItemsDiv {
  > .row {
    > .col-xl-6 {
      margin-top: 0.6rem;
      padding: 1rem;

      > .row {
          .col-2 {
            img{
                width: 100%;
            }
            .edittt{
              font-size: .8rem;
            }
          }
          .col-8 {
          .title {
            font-size: .8rem;
          }
          .price {
            font-size: .9rem;
          }
          .text {
            font-size: .8rem;
          }
          .qty {
            font-size: .8rem;
          }
          button{
            font-size: .8rem;
          }
        }
      }
    }
    > .col-xl-5 {
      margin-top: 1rem;
      padding: 1rem;
    }
    .soldby{
      font-size: .7rem;
    }
  }
}

}