

.CategoryPage{
  font-family: "Quicksand", sans-serif;
  margin-top: 12rem;
}

@media (max-width:576px) {
    
.CategoryPage{
    margin-top: 10rem;
}
}

@media (max-width:394px) {
    
.CategoryPage{
    margin-top: 8rem;
}
}