
.HomeMiddle3 {
    margin-top: 3rem;
    .row {
      height: 30rem;
      background: linear-gradient(to top, rgba(255, 166, 0, 0.462), rgba(165, 42, 42, 0.486), rgba(255, 0, 0, 0.422));
      background-size: 100% 100%;
      
      .col-lg-4{
        > h1 {
          position: relative !important;
          text-align: left;
          top:8rem;
          font-family: "Inter", sans-serif;
          font-weight: 800;
          color: #5c0431;
        }
        >.btn{margin-top: 10rem;
          font-weight: 600;
          padding: 1rem 2rem;
          font-size: 1.4rem;
          color: aliceblue;

        }
      }
      .col-lg-2 {
          margin-top: 4rem !important;
          a {
              position: relative;
              top: 105%;
              font-family: "Inter", sans-serif;
              font-size: 1.3rem;
              color: rgba(0, 0, 0, 0.705);
              border-radius: 0;
            }
            a:hover {
                color: white;
            }
      }
      .col-lg-2:nth-child(2) {
        height: 20rem;
        background: url("./Media/homeMiddle3a.jpg");
        background-size: 100% 100%;
      }
      .col-lg-2:nth-child(3) {
        height: 20rem;
        background: url("./Media/homeMiddle3b.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .col-lg-2:nth-child(4) {
        height: 20rem;
        background: url("./Media/homeMiddle3c.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }
  }
  