

#homeH1{
    text-align: center;
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
    margin-top: 6rem;
    color: rgba(0, 0, 0, 0.579);
    span{
        font-family: 'Courier New', Courier, monospace;
        font-size: 2rem;
        color: orange;
    }
}