.Home-top {
  margin-top: 13rem;
  .row {
    .col-12 {
    }
    .textDiv {
      background: #ad9f9f19;
      h1:first-child {
        margin-top: 3rem;
      }
      h1 {
        font-size: 3.5rem;
        font-family: "Inter", sans-serif;
        // font-family: 'Raleway', sans-serif;
      }
      > div:nth-child(3) {
        background: #ffffff;
        width: 85%;
        padding: 1rem;
        border-radius: 10px;

        .col-4 {
          gap: 0.6rem;
          padding: 1rem;
          font-size: 1.2rem;
          font-weight: 700;
          color: #0000008b;
          i {
            font-size: 1.7rem;
            color: grey;
          }
        }
      }
      > div:last-child {
        margin-top: 2rem;
        a {
          font-size: 2rem;
          color: rgba(0, 0, 0, 0.438);
        }
        a:hover {
          color: white;
        }
      }
    }
    .imgDiv {
      border-radius: 5px;
      background: url("./Media/home-top.jpg");
      background-size: 100% 100%;
      height: 30rem;
    }
  }
}

@media (max-width: 1400px) {
  .Home-top {
    margin-top: 13rem;
    .row {
      .textDiv {
        height: 26rem;
        h1:first-child {
          margin-top: 2.9rem;
        }
        h1 {
          font-size: 2.7rem;
        }
        > div:nth-child(3) {
          width: 85%;
          padding: 1rem;

          .col-4 {
            gap: 0.6rem;
            padding: 1rem;
            font-size: 1.1rem;
            i {
              font-size: 1.3rem;
            }
          }
        }
        > div:last-child {
          margin-top: 2rem;
          a {
            font-size: 1.4rem;
          }
        }
      }
      .imgDiv {
        height: 26rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  .Home-top {
    margin-top: 11rem;
    .row {
      .textDiv {
        height: 21rem;
        h1:first-child {
          margin-top: 2rem;
        }
        h1 {
          font-size: 2rem;
        }
        > div:nth-child(3) {
          margin-top: 1.1rem;
          width: 85%;
          padding: 1rem;

          .col-4 {
            gap: 0.4rem;
            padding: 0.5rem;
            font-size: 1rem;
            i {
              font-size: 1.1rem;
            }
          }
        }
        > div:last-child {
          margin-top: 1.3rem;
          a {
            font-size: 1.1rem;
          }
        }
      }
      .imgDiv {
        height: 21rem;
      }
    }
  }
}

@media (max-width: 992px) {
  .Home-top {
    margin-top: 11rem;
    .row {
      .textDiv {
        height: 26rem;
        h1:first-child {
          margin-top: 3rem;
        }
        h1 {
          font-size: 2.5rem;
        }
        > div:nth-child(3) {
          margin-top: 1.7rem;
          width: 85%;
          padding: 1.2rem;

          .col-4 {
            gap: 0.4rem;
            padding: 0.5rem;
            font-size: 1.2rem;
            i {
              font-size: 1.2rem;
            }
          }
        }
        > div:last-child {
          margin-top: 1.3rem;
          a {
            font-size: 1.4rem;
          }
        }
      }
      .imgDiv {
        height: 27rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .Home-top {
    margin-top: 12rem;
    .row {
      .textDiv {
        height: 19rem;
        h1:first-child {
          margin-top: 1rem;
        }
        h1 {
          font-size: 2rem;
        }
        > div:nth-child(3) {
          margin-top: 1rem;
          width: 85%;
          padding: 1rem;

          .col-4 {
            gap: 0.4rem;
            padding: 0.5rem;
            font-size: 1rem;
            i {
              font-size: 1rem;
            }
          }
        }
        > div:last-child {
          margin-top: 1.1rem;
          a {
            font-size: 1.1rem;
          }
        }
      }
      .imgDiv {
        height: 23rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .Home-top {
    margin-top: 10rem;
    .row {
      .textDiv {
        padding-bottom: 2rem;
        height: auto;
        h1:first-child {
          margin-top: 1rem;
        }
        h1 {
          font-size: 1.4rem;
        }
        > div:nth-child(3) {
          margin-top: 1rem;
          width: 85%;
          padding: 1rem;

          .col-4 {
            gap: 0.2rem;
            padding: 0.2rem;
            font-size: 0.8rem;
            i {
              font-size: 0.8rem;
            }
          }
        }
        > div:last-child {
          margin-top: 1rem;
          a {
            font-size: 1rem;
          }
        }
      }
      .imgDiv {
        width: 100%;
      }
    }
  }
}

@media (max-width: 394px) {
  .Home-top {
    margin-top: 9rem;
    .row {
      .textDiv {
        padding-bottom: 1.3rem;
        height: auto;
        h1:first-child {
          margin-top: 1rem;
        }
        h1 {
          font-size: 1.1rem;
        }
        > div:nth-child(3) {
          margin-top: 1rem;
          width: 95%;
          padding: 1rem;

          .col-4 {
            gap: 0.3rem;
            padding: 0.4rem;
            font-size: 0.6rem;
            i {
              font-size: 0.6rem;
            }
          }
        }
        > div:last-child {
          margin-top: 0.8rem;
          a {
            font-size: 0.8rem;
          }
        }
      }
      .imgDiv {
        width: 100%;
      }
    }
  }
}
